/*

#97B186*/

#title{
	background-color: #3a3a3a;
	margin-bottom: 50px;
}

#title h1{
	color: #fff;
}

#logo{
	max-height: 200px;
}

#vmName{
	color: #97B186;
	font-weight: bold;
	font-size: 20px;
	text-align: right;
	vertical-align: middle;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}
